#container {
  position: absolute;
  top: 15%;
  left: 29%;
  background: #fff;
  height: 75%;
  width: 40%;
  border-radius: 10px;

}

#container h1 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}
#form-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

#form-container #form {
  width: 70%;
}

button {
  background: #332E3C;
  margin-top: 1.8rem;
}
.invalid-feedback {
  height: 0;
  margin: 0;
  display: inline-block;

}

